.location-list {
    background: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 460px;
    overflow-y: auto;
    overflow-x: hidden;

    @include media-query(992px){
        min-height: auto;
    }
}